numpy==2.2.3
packaging==24.2
pillow==11.1.0
protobuf>=3.12,<4  
pyarrow==19.0.1
Pygments==2.19.1
pytz==2025.1
rpds-py==0.23.1
six==1.17.0
smmap==5.0.2
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
plotly==5.3.1
streamlit==1.10.0